body {
    font-family: "Arimo", sans-serif;
    font-size: 12px;
    margin: 0;
}

#gui {
    display: none;
    height: 100%;
    padding-top: 20px;
}

#pipeline {
    height: 100%;
    display: table;
}

#status, #messages {
    position: fixed;
    left: 0;
    right: 45px;
    bottom: 0px;
    max-height: 25%;
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.minimized {
    position: fixed;
    border: 2px solid;
    padding: 5px;
    z-index: 1;
    background-color: #FFF;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

#messages > div {
    border: 2px solid;
    border-radius: 6px;
    padding: 10px;
    padding-left: 8px;
    margin-top: 20px;
}

#messages .material-icons {
    display: block;
    position: absolute;
}

#messages .text {
    padding-left: 33px;
}

#messages > .error {
    border-color: #a01c1c;
    background-color: #f7dede;
    color: #a01c1c;
    font-size: 1.2em;
}
#messages > .error .material-icons {
    color: #a01c1c;
}

#messages > .warning {
    border-color: #d6c500;
    background-color: #fdfcd1;
    color: #272525;
    font-size: 1.1em;
}

#messages > .warning .material-icons {
    color: #caa900;
}

#warningsMinimized {
    bottom: 50px;
    right: 5px;
    color: #caa900;
    border-color: #caa900;
}

#messages > .info {
    border-color: #a3a3ff;
    background-color: #dae0ff;
    color: #272525;
    font-size: 1em;
}

#messages > .info .material-icons {
    color: #5454d4;
}

#infosMinimized {
    bottom: 7px;
    right: 5px;
    color: #5454d4;
    border-color: #5454d4;
}


.close {
   position: absolute;
   right: 27px;
   margin-top: -3px;
   opacity: 0.3;
   cursor: pointer;
   display: block;
   width: 14px;
   height: 14px;
}
.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 7px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

div.level{
    display: table-cell;
    height: 100%;
    padding-right: 45px;
    padding-left: 25px;
    border-right: 1px solid #CCC;
}

.project {
    border:1px solid #CCC;
    background: #fff;
    margin: 0 auto 20px auto;
    display: block;
    width: 300px;
    padding:20px 15px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 4px
    rgba(0, 0, 0, 0.3), 0 0 40px
    rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px
    rgba(0, 0, 0, 0.3), 0 0 40px
    rgba(0, 0, 0, 0.1) inset;
}

.submodules {
    margin-top: 15px;
}

.submodule .submodules {
    margin-top: 10px;
    margin-bottom: 10px;
}

.submodule {
    width: 295px;
}
.submodule:last-child {
    margin-bottom: 0px;
}

.submodule.withoutCommands {
    padding: 3px 15px;
    margin: 5px auto;
}
.submodule.withoutCommands.withSubmodules {
    margin-bottom: 10px;
}

.submodule.withoutCommands + div.submodule:not(.withoutCommands) {
    margin-top:20px;
}

div.title {
    font-size:1.2em;
    font-weight: bold;
    margin-bottom:5px;
}

.submodule div.title{
    font-size: 1.1em;
}

.submodule.withoutCommands div.title {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0px;
}

div.title::after, div.command > div.fields::after {
    content: '';
    display: block;
    clear:both;
}

.command{
    margin-top:10px;
}

.commandTitle {
    font-weight:bold;
    margin-bottom: 3px;
}

.project > div.fields > div {
    margin-top:5px;
}

div.fields input {
    width:150px;
}

label.fields {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 6px;
}

label.toggle {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    float:right;
}
label.toggle input {
    display:none;
    width: 35px;
}
label.toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #AAA;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.command.disabled > .fields > label.toggle .slider {
    background-color: #CDCDCD;
    cursor: not-allowed;
}

label.toggle .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

label.toggle input:checked + .slider {
  background-color: #2196F3;
}
label.toggle input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

